<div class="column_1">
  <div id="tabs">
    <% if @has_plain_text %>
      <ul>
        <li>
          <a href="#source_doc"><span>Source Doc</span></a>
        </li>
        <li>
          <a href="#plain_text"><span>Plain Text</span></a>
        </li>
      </ul>
    <% end %>
    
    <div id="source_doc">
      
      <%= render :partial => "scribd", :locals => {:document => @source_doc} %>
      
      <div class="source_doc_url">
        This document is available
        <%= link_to "from the source", @source_doc.source_url %>
        or <%= link_to "on Scribd", scribd_url(@source_doc.scribd_doc_id) %>.
      </div>
    </div>

    <% if @has_plain_text %>
      <div id="plain_text">
        <textarea rows="20" readonly><%= @source_doc.plain_text %></textarea>
      </div>
    <% end %>
  </div>
</div>

<div class="column_2">
  <div class="content">
    
    <% [:error, :notice].each do |msg| %>
      <% if flash[msg] %>
        <div class="flash <%= msg %>">
          <%= flash[msg] %>
        </div>
      <% end %>
    <% end %>
    
    <%= render :partial => 'letter_form', :locals => { :letter => @letter } %>
    
  </div>
</div>

<div class="clear_floats"></div>