<div class="column_1">
  <div id="tabs">
    <% if @has_plain_text %>
      <ul>
        <li>
          <a href="#source_doc"><span>Source Doc</span></a>
        </li>
        <li>
          <a href="#plain_text"><span>Plain Text</span></a>
        </li>
      </ul>
    <% end %>
    
    <%= render :partial => 'source_doc' %>
    <% if @has_plain_text %>
      <%= render :partial => 'plain_text' %>
    <% end %>
  </div>
</div>

<div class="column_2">
  <div class="content">
    
    <% [:error, :notice].each do |msg| %>
      <% if flash[msg] %>
        <div class="flash <%= msg %>">
          <%= flash[msg] %>
        </div>
      <% end %>
    <% end %>
    
    <%= render :partial => 'letter_form', :locals => { :letter => @letter } %>
    
  </div>
</div>

<div class="clear_floats"></div>