<div class="column_1">
  <div id="tabs">
    <% if @document.plain_text.size > 10 %>
      <ul>
        <li>
          <a href="#document"><span>Source Doc</span></a>
        </li>
        <li>
          <a href="#plain_text"><span>Plain Text</span></a>
        </li>
      </ul>
    <% end %>
    
    <div id="document">
      
      <%= render :partial => "scribd", :locals => {:document => @document} %>
      
      <div class="document_url">
        This document is available
        <% if @document.source_url %>
          <%= link_to "from the source", @document.source_url %> or 
        <% end %>
        <%= link_to "on Scribd", scribd_url(@document.scribd_doc_id) %>.
      </div>
    </div>

    <% if @document.plain_text.size > 10 %>
      <div id="plain_text">
        <textarea rows="20" readonly><%= @document.plain_text %></textarea>
      </div>
    <% end %>
  </div>
</div>

<div class="column_2">
  <div class="content">
    
    <% [:error, :notice].each do |msg| %>
      <% if flash[msg] %>
        <div class="flash <%= msg %>">
          <%= flash[msg] %>
        </div>
      <% end %>
    <% end %>
    
    <%= render :partial => 'letter_form', :locals => { :letter => @letter } %>
    
  </div>
</div>

<div class="clear_floats"></div>