<div class="field">
  <%= form.label :amount, "Amount:" %>
  <%= form.text_field :amount %>
</div>
<div class="field">
  <%= form.label :project_title, "Project Title:" %>
  <%= form.text_field :project_title %>
</div>
<div class="field">
  <%= form.label :fiscal_year, "Fiscal Year:" %>
  <%= form.text_field :fiscal_year %>
</div>
<div class="field">
  <%= form.label :funding_purpose, "Funding Purpose:" %>
  <%= form.text_area :funding_purpose, :rows => 5 %>
</div>
<div class="field">
  <%= form.label :taxpayer_justification, "Taxpayer Justification:" %>
  <%= form.text_area :taxpayer_justification, :rows => 5 %>
</div>
<div class="field">
  <%= form.label :user_id, "User ID:" %>
  <%= form.text_field :user_id %>
</div>
<div class="field">
  <%= form.label :source_doc_id, "Source Doc ID:" %>
  <%= form.text_field :source_doc_id %>
</div>
