<div class="field">
  <span class="label">Amount:</span>
  <%= number_to_currency(@letter.amount) %>
</div>
<div class="field">
  <span class="label">Project Title:</span>
  <%= @letter.project_title %>
</div>
<div class="field">
  <span class="label">Fiscal Year:</span>
  <%= @letter.fiscal_year %>
</div>
<div class="field">
  <span class="label">Funding Purpose:</span>
  <%= @letter.funding_purpose %>
</div>
<div class="field">
  <span class="label">Taxpayer Justification:</span>
  <%= @letter.taxpayer_justification %>
</div>
<div class="field">
  <span class="label">User ID:</span>
  <%= @letter.user_id %>
</div>
<div class="field">
  <span class="label">Source Doc ID:</span>
  <%= @letter.source_doc_id %>
</div>
<br/>
<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>