<% form_for letter, :url => { :action => :create } do |f| %>
  <% if letter.errors.any? %>
    <div class="errorExplanation" id="errorExplanation">
      <ul>
        <% letter.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :legislator_id, 'Requesting Legislator:' %>
    <%= f.select :legislator_id, legislators_for_select, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :amount, "Amount (optional)" %>
    <%= f.text_field :amount, :size => 10, :value => as_currency(letter.amount) %>
  </div>
  <div class="field">
    <%= f.label :project_title, "Title of Project" %>
    <%= f.text_field :project_title, :size => 25 %>
  </div>

  <%= f.hidden_field :fiscal_year, :value => '2010' %>

  <%= render :partial => "entity_form", :locals => { :letter_form => f } %>
  
  <div class="field">
    <%= f.label :funding_purpose, "Purpose of Funding" %>
    <%= f.text_area :funding_purpose, :rows => 4, :cols => 25 %>
  </div>
  
  <!-- Most letters don't have this, but we want to keep the data we have on it
    <div class="field">
      <%= f.label :taxpayer_justification, "Taxpayer Justification" %>
      <%= f.text_area :taxpayer_justification, :rows => 6, :cols => 25 %>
    </div>
  -->
  
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :source_doc_id %>
  <%= f.hidden_field :task_key %>
  
  <%= hidden_field_tag 'username', @username %>
  <%= hidden_field_tag 'points', @points %>
  
  <div class="field">
    <label>&nbsp;</label>
    <%= f.submit 'Done!' %>
  </div>
<% end %>
