<div class="column_1">
  <%= render :partial => "tabs" %>
</div>

<div class="column_2">
  <div class="content">
    
    <% if flash[:error] %>
      <div class="flash_error"><%= flash[:error] %></div>
    <% elsif flash[:notice] %>
      <div class="flash_notice"><%= flash[:notice] %></div>
    <% end %>
    
    <%= render :partial => "user_message" %>
    
    <p>
      Thanks for helping us make sense out of earmarks. On the left, you'll see a federal earmark request that comes from the website of a Member of Congress, and on the right, you'll see the fields we need to get.
    </p>
    <p>
      Just paste the information from the text on the left, into the relevant field on the right. When you're done, click "Done!" to start a new earmark request.  If the text is difficult to read, you can see the original PDF by clicking "Source Doc" above the text.
    </p>
    <% if @prepopulated %>
      <p>
        We've actually written some software to pre-populate some of these fields for you, but we need you to correct us where we're wrong, and fill in the fields where we couldn't find anything. Computers aren't perfect, after all. 
      </p>
    <% end %>
    
    <%= render :partial => "letter_form", :locals => { :letter => @letter } %>
    
  </div>
</div>

<div class="clear_floats"></div>