<div class="column_1">
  <%= render :partial => "tabs" %>
</div>
<div class="column_2">
  <div class="content">
    <% if flash[:error] %>
      <div class="flash_error"><%= flash[:error] %></div>
    <% elsif flash[:notice] %>
      <div class="flash_notice"><%= flash[:notice] %></div>
    <% end %>
    <h2>Help Us Gather Earmark Data</h2>
    <%= render :partial => "user_message" %>
    <% if @prepopulated %>
      <p>We have pre-populated the form below.  Please verify and correct it using the source document on the left.</p>
    <% else %>
      <p>Please fill out the form below.  Use data from the source document on the left.</p>
    <% end %>
    <%= render :partial => "letter_form", :locals => { :letter => @letter } %>
  </div>
</div>
</div>
<div class="clear_floats">
</div>
